@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;

}

/*            */
/* Start header  */
/*            */
.header-sec {
    background-image: url(../img/bg-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
    height: 100%;
    width: 100%;

}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    position: relative;
}

header .heaser-contant {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 386px;
    color: #ffffff;

}

header .heaser-contant h1 {
    padding-bottom: 15px;
    font-weight: 300;
    letter-spacing: 15px;
}

header .heaser-contant p {
    padding-bottom: 15px;
    font-size: 100;
    letter-spacing: 5px;
}

header .heaser-contant button {
    padding: 10px 40px;
    font-weight: 700;
    background-color: #ffe500;
    letter-spacing: 3px;
    margin-top: 30px;
    border: 1px solid black;
    cursor: pointer;

}

header .scroll {
    position: absolute;
    top: 950px;
    left: 950px
}

/*            */
/* header end */
/*            */



/*                */
/* Start Main    */
/*              */
main {
    height: 706px;
    width: 100%;
}

.idea-section {
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.idea-section-img {
    padding-bottom: 100px;
    position: absolute;
    top: 200px;
}

.idea-section p {
    width: 30%;
    color: #979797;
    text-align: justify;
    position: absolute;
    top: 350px;
}

/*                */
/*  Main    End */
/*              */

#services-sec {
    height: 1100px;
    width: 100%;
    padding-top: 10px;
    background-color: #f4f4f4;

}

.services-sec-inner {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.service-contant {
    width: 50%;
}

.service-img {
    text-align: center;
    padding: 10px 0px;
}

.service-img img {
    margin-top: 30px;
}

.service-contant-innter h4 {
    text-align: center;
    padding: 10px 0px;
    font-weight: 300;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #1b1b1b;
}

.service-contant p {
    text-align: center;
    padding: 20px 0px;
    font-weight: 300;
    color: #1b1b1b;
    text-align: center;
    line-height: 45px;
    color: #707070;
}

/*                      */
/*  Service contant End */
/*                     */

/*                */
/*  Service card  */
/*              */
#services-sec {
    height: 100%;
    width: 100%;
}

.service-card {
    display: flex;
    margin: 50px;
    width: 80%;
}

.service-card-outter {
    width: 70%;
    margin: 0px 15px;
    background-color: #ffffff;


}

.service-card-innner {
    text-align: center;
    padding: 30px;

}

.service-card-heading h1 {
    font-weight: 300;
    letter-spacing: 5px;
    padding: 20px;

}

.service-card-para p {
    text-align: center;
    color: #707070;
}

#progress {
    width: 100%;
    display: flex;
    justify-content: center;


}

.progress-outter {
    display: flex;
    margin: 50px 20px;
    width: 80%;


}

.progress-inner {
    width: 60%;
    margin: 0px 20px;
    background-color: #ffffff;
    padding: 10px;
}

.bar {
    background-color: #ffe500;
    height: 10px;
    width: 80%;
    border-radius: 20px;
    margin: 10px 0px;
}

.bar-sw {
    background-color: #ffe500;
    height: 10px;
    width: 30%;
    border-radius: 20px;
    margin: 10px 0px;
}

.bar-c {
    background-color: #ffe500;
    height: 10px;
    width: 50%;
    border-radius: 20px;
    margin: 10px 0px;
}

.bar-ux {
    background-color: #ffe500;
    height: 10px;
    width: 50%;
    border-radius: 20px;
    margin: 10px 0px;
}

/*                */
/*  Service card End */
/*              */


/*                */
/*  project compelet */
/*              */
#compelet {
    height: 250px;
    width: 100%;
    background-color: #1b1b1b;
    padding: 70px 0px;

}

.outter-body-compelet {
    display: flex;
    justify-content: center;

}

.inner-body-compelet {
    margin: 20px;
    background-color: #f4f4f4;
    padding: 20px 50px;
    text-align: center;
}

/*                      */
/*  project compelet End*/
/*                     */



/*                      */
/*        portfolio     */
/*                     */
#portfolio {
    margin: 20px 0px;
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0px;
    text-align: center;

}

.info-left {
    display: flex;
    margin: 30px 0px;
    width: 30%;

    justify-content: space-around;
    border-bottom: 1px solid #1b1b1b;
    border-top: 1px solid #707070;
}

.info-right {
    display: flex;
    height: 30px 0px;
    margin: 30px 0px;
    width: 30%;
    justify-content: space-around;
    border-bottom: 1px solid #1b1b1b;
    border-top: 1px solid #1b1b1b;

}

.info-right p {
    padding: 20px;
}

.info-left p {
    padding: 20px;
}

.info-logo {
    margin: 20px;
    border-radius: 100%;
}

.like-btn-body {
    display: flex;
    justify-content: center;
}

.like-btn {
    padding: 20px 40px;
    font-weight: 700;
    background-color: #ffe500;
    letter-spacing: 3px;
    margin-top: 30px;
    border: 1px solid rgb(252, 250, 250);
    cursor: pointer;
    text-transform: uppercase;
}

/*                      */
/*      portfolio end     */
/*                     */

/*                      */
/*      video section     */
/*                     */

#video-section {
    height: 230px;
    width: 100%;
    text-align: center;
    background-color: #1b1b1b;
}

.video-sec button {
    padding: 20px 50px;
    border-radius: 10px solid #ffff;
    margin-top: 80px;
    background-color: transparent;
    color: #ffe500;
    letter-spacing: 8px;
    text-transform: uppercase;
    border: 1px solid #ffe500;
}

/*                      */
/*   video section end    */
/*                     */


/*                      */
/*   team section end    */
/*                     */
.team-card.services-sec {
    background-color: #ffffff;

}

.team-img {
    background-color: #1b1b1b;
    width: 289px;
    height: 361px;
}

.team-member-name {
    background-color: #d1bc05;
    margin: 0px;
}

.team-member-intro {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
/*                      */
/*   team section end    */
/*                     */

.ceo-into-outter-sec{
    margin: 30px 0px;
    position: relative;
}

.sec-left{
    float: left;
    width: 50%;
    height: 600px;
}
.sec-right{
    width: 50%;
    float: right;
    height: 600px;
}
.ceo-into-para{
    width: 50%;
    background-color: #1b1b1b;
    color: #ffffff;
    padding: 50px;
    margin: 40px 0px;
}

.sec-left h4{
    width: 50%;
}

.sec-left p{
    margin-left: 433px;
}
.ceo-guid{
    width: 44%;
    text-align: center;
  
}
.ceo-name{
    width: 50%;
    margin-left: 435px;
    margin-top: 30px;
    text-transform: capitalize;
}

.back-color{
    height: 100px;
    background-color: #ffe500;
    position: absolute;
    z-index: -1;
}